*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    z-index: 1; 
}

section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li{
    list-style: none;
    margin-left: 20px;
}

section header ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

body{
    background:  #262a2f;
    color: #333;
}
  
.search-box{
    position: relative;
    width: 600px;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
}

.main {
    width: 580px;
    display: flex;
    flex-direction: column;
    flex: none;
    align-items: center;
    justify-content: center;
}
  
.main  img {
    max-width: 50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

button{
    border: 0;
    background: transparent;
    outline: 0;
}

button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder{
    color: #555;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
} 

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #e9f3ff;
}

.result-box{
    flex: 0;
    max-height: 150px;
    overflow-y: scroll;
}